body {
    font-family: sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.text-yellow {
    color: #f1ad1d;
}

.top-screen {
    padding: 530px 0 145px 0;
    color: #fff;
}

.top-screen-wrapper {
    background: url("../img/bg1.jpg") no-repeat;
    background-size: cover;
}

.top-screen-title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
}

.top-screen-subtitle {
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 15px;
}

.top-screen-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    padding: 40px 45px;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid white;
}
