.change-color-block {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background-color: #a9a9a9;
}

.packman-wrapper {
    display: inline-block;
    position: relative;
}

.packman-top {
    position: absolute;
    display: inline-block;
    border: 50px solid transparent;
    border-top: 50px solid #ffff33;
    border-left: 50px solid #ffff33;
    border-radius: 50%;
    animation: packman-eat-top 0.5s alternate linear infinite;
}

.packman-bottom {
    position: absolute;
    display: inline-block;
    border: 50px solid transparent;
    border-bottom: 50px solid #ffff33;
    border-left: 50px solid #ffff33;
    border-radius: 50%;
    animation: packman-eat-bottom 0.5s alternate linear infinite;
}

@keyframes packman-eat-top {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg);
    }
}
@keyframes packman-eat-bottom {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg);
    }
}
