body{
    background-color: #8397bb;
}

.newMailModal{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 500px;
    display: flex;
    box-sizing: border-box;
    padding: 50px;
    align-items: stretch;
    flex-direction: column;
    border: 1px solid red;
}
input{
    margin: 20px 0;;
}
.slick-slider{
    display: inline-block;
    width: 1850px;
}
.slick-dots li button{
    font-size: 17px;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 13px;
    cursor: pointer;
    color: #b3222200;
    border: 1px solid red;
    outline: none;
    background: #ab363600;

}