@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 55px;
    text-align: center;
    margin-top: 30px;
}
.header a:first-child{
    margin: 0px;
}
 .header-nav-a{
    text-decoration: none;
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
    margin-left: 70px;
    letter-spacing: 2px;
 }
.section-h1{
    text-align: center;
    margin-top: 50px;
    color: rgb(55, 55, 55);
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 3px;
}
.section-p{
    text-align: center;
    color: rgb(55, 55, 55);
    line-height: 26px;
    font-size: 16px;
    font-weight: 900;
    padding-left: 120px;
    padding-right: 120px;
}
.footer-p{
    text-align: right;
    color: #343434;
}
.main-content{
    text-align: center;
    background-color: #f5f6f7;
}
.button{
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 90px;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 70px;
    text-align: center;
    letter-spacing: 2px;
}
.footer-p{
    margin-top: 50px;
}